@charset "utf-8";
.pagination{text-align: center;margin:25px auto 0;}    
.pagination a {
    text-decoration: none;
	border: 1px solid #ededed;
	color: #595959;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #ff6537;
    color: #fff;
	border: 1px solid #ededed;
}
.pagination .trade {
    background: #ff6537;
    color: #fff;
	border: 1px solid #ededed;
}
.pagination .dis {
	border: 1px solid #ededed;
}
.pagination .prev, .pagination .next{
	color:#999;
	border-color:#999;
	background:#fff;
}

