@charset "UTF-8";
*{margin: 0 auto;padding: 0;font: 12px/1.5 tahoma,arial,"\5b8b\4f53";}
.wait_address{width: 840px;margin: auto;}
.address_list{width: 100%;height: 129px;}
.address-datail{position: relative;width: 237px;;height: 105px;border: 2px solid aliceblue;display: inline-block;padding: 4px 7px;}
.default-bar{text-align: center;position: absolute;top: 0;right: 0;width: 67px;height: auto;background: rosybrown;color: #fff;}
.span-b{ font-weight:bold;} 
.addcss{border:2px solid orange}
.address_one{border-bottom: 1px solid #cccccc;padding-bottom: 6px;margin-bottom: 6px;} 
.modify{font-size: 14px;color: orange;}
/* .addr-def{border: 2px solid orange;} */
.invisible{background: white;color:white}
.myPjTc1,.myPjTc2{ width:470px;height:340px;position: fixed;left:50%;top:50%;padding:20px 43px;margin-top:-190px;margin-left:-278px;display: none;background:#fff;}
.myPjTc1 h3,.myPjTc2 h3{height:32px;line-height:32px;font-size:14px;color:#595959;}
form div{margin-left: 35px;height: 30px;margin-bottom: 12px;}
form label {font-size: 14px;}
orm .shuru {width: 172px;height: 26px;border-radius: 5px;outline: medium;padding-left: 10px;border: 1px solid #AAAAAA;}
.myPjTc1 textarea, .myPjTc2 textarea {border: 1px solid #aaa;}
.form-control {width: 260px;height: 100px;border-radius: 5px;outline: medium;padding-left: 10px;}
.dizi .bc {display: inline-block;width: 100px;height: 30px;line-height: 30px;background-color: brown;border-radius: 5px;color: #fff;text-align: center;margin-top: 113px;margin-left: 62px;border: none;}
.pramra-list{height:27px;display: inline-block;text-align: center;border-bottom: 3px solid #b2d1ff;margin-left: 1px;}

/* 所有书籍页面 */
.top-nav{height: 30px;}
.top-nav-con{margin: 0 auto;line-height: 27px;position: relative;z-index: 200;background: #f9f9f9;border: 1px solid #E6E2E1;box-sizing: border-box;}
.top-nav-def{height: 30px;margin-left: 25px;margin-right: 180px;position: relative;}
.top-nav-content{position: absolute;width: 100%;height: 100%;}
.top-nav-content ul{position: absolute;margin-left: -9px;width: 9999px;}
.top-nav-content ul li{padding-left: 9px;color: #666;float: left;}
.book-category-detail{display: inline-block;}
.book-category-detail ul li{display: inline-block;list-style: none;font-size: 12px;margin-left: 14px;}

.book-category{height: 100%;display: inline-block;width: 77px;background-color: white;line-height: 63px;text-align: center;}
/* 购物车 */
.cart_list{width: 1147px;height: 80px;line-height: 80px;font-size: 22px;margin: 14px 9px 30px 99px;border-bottom: 2px solid aliceblue;}

.cart_top{display: inline-block;font-size: 16px;width: 91px;height: 47px;text-align: center;}
.cart_bar{border-bottom: 3px solid #b2d1ff;}
.cart_top:hover{border-bottom: 3px solid #b2d1ff;}
@charset "utf-8";
/**初始化样式开始**/
*{margin:0;border:0; padding:0;font-family: Microsoft Yahei;}
/*注：font-size:87.5%;他根的字体大小：10px，这里的10px是一个动态的值,那么页面中的其他字体则是设计图上的值除以10所得到的*/
html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;font-size:62.5%;}
body{font-family:Microsoft YaHei, Arial, Helvetica, sans-serif,宋体; font-size:14px; color:#333;}
body .container{position:relative;width:1200px; margin:0 auto;background:#fff;}
li{list-style:none;}
em,i{ font-style:normal; font-weight:normal;}
img{ border:0; vertical-align:middle;}
a{color:#3e8aca;text-decoration:none; outline:none;-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);}
body input,body select{outline:none; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0;-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);}
body textarea,body button{outline:none;resize:none;-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);}
body label{-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);}
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{ display:inline-block;display: block;zoom: 1;}
*html .clearfix{ height: 1%;}
h2{ font-size:16px;}
h3{ font-size:14px;}
h4{ font-size:12px;}
.ellipsis{ text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.fl{ float:left;}
.fr{ float:right;}
.vh{ visibility:hidden;}
.dn{ display:none;}
.tc{ text-align:center;}
.w{ width:100%;}
.border2{-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;}
.border3{-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.border4{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;}
.border5{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.border8{-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;}
.border10{-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;}
.border14{-webkit-border-radius:14px;-moz-border-radius:14px;-ms-border-radius:14px;-o-border-radius:14px;border-radius:14px;}
.border20{-webkit-border-radius:20px;-moz-border-radius:20px;-ms-border-radius:20px;-o-border-radius:20px;border-radius:20px;}
.border22{-webkit-border-radius:22px;-moz-border-radius:22px;-ms-border-radius:22px;-o-border-radius:22px;border-radius:22px;}
/*phone端实现圆形*/
.border100{-webkit-border-radius:100px;-moz-border-radius:100px;-ms-border-radius:100px;-o-border-radius:100px;border-radius:100px;}
/*pc端实现圆形*/
.circle{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;}
/*距底部*/
.bottom60{margin-bottom: 60px;}
/**初始化样式结束**/

.operate {
    display: inline-block;
    text-align: center;
    width: 20px;
    border: 1px solid #9DC1E4;
    cursor: pointer;
    line-height: 24px;
    margin-left: -5px;
	margin-right: -4px;
}

 .amount {
    text-align: center;
    display: inline-block;
    width: 42px;
    border: 1px solid #9DC1E4;
    border-left: none;
    border-right: none;
    line-height: 24px;
    height: 24px;
}

/*主要内容样式*/
    .product_display_detail{width: 1200px;height: 140px;margin-bottom: 23px;}
    .product_display_detail ul li{float: left ;}
    .product_display_detail ul li:nth-child(2){margin: 15px 0 0 36px;width: 321px;}
    .product_display_detail ul li:first-child{width: 120px;height: 120px;margin: 14px 0 14px 40px}
    .product_display_detail ul li:first-child img{width:100px;height:100px;}
    .product_display_detail ul .product_name{overflow: hidden;text-overflow: inherit;white-space: nowrap;font-size: 12px;color: #404040;margin: 9px 0 6px 0;}
    .product_display_detail ul .product_attr{font-size: 12px;color: #b2b2b2;margin-top: 16px}
    .product_display_detail ul .product_attr span{margin-right: 50px}
    .product_display_detail ul .product_price{font-size: 18px;color: #fe4f00;margin: 57px 34px 0 17px;width: 119px;text-align: center }
    .product_display_detail ul .one_price{font-size: 18px;color: #fe4f00;margin: -23px 33px 0 711px;width:199px }

    .product_display_detail ul .product_num{margin: 62px 1px 0 0;width: 218px;text-align: center;}
    .product_display_detail ul .product_delete{font-size: 12px;color: #b2b2b2;margin: 61px 3px 0 0;width: 56px}
    .product_num span{width: 30px;display: inline-block;text-align: center}
    .product_acount{height: 50px;background: #f7f7f7;}
    .product_acount_1{background: #f7f7f7;color: #595959;font-size: 12px;height: 50px;width: 1100px;line-height: 50px}
    .product_acount_1 p{margin-right: 50px}
    .product_acount_1 p em{font-weight: 600;color: #fe4f00;font-size: 18px}
    .product_acount button{font-size: 18px;color: #fff;background: #fe4f00;width: 100px;height: 50px}
    .paytotal{width: 1200px;height: 50px;border: 1px solid  #DFDFDF}
    .paytotal p{
        margin-left: 45px;font-size:12px;color: #404040;margin-top: 8px;width: 700px;line-height: 12px;}
    .paytotalpr{width: 1200px;height: 50px;border: 1px solid  #DFDFDF}
    .paytotalpr p{width: 122px}

    .you_like{font-size: 18px;color: #404040;margin: 29px 0 15px 0}
    .you_like_detail ul li{width: 285px;margin: 0px 20px 0 0;}
    .you_like_detail ul li:last-child{margin-right: 0px}
    .you_like_detail ul li p{font-size: 14px;color: #595959;margin-left: 10px}
    .you_like_detail ul li p span{width: 60px;height: 20px;color:#fe4f00;background: #fff;border: 1px solid #fe4f00;font-size: 12px;line-height: 20px}
    .you_like_detail ul li p span img{width: 16px;height: 16px;margin:-3px 0 0 8px}
    .you_like_detail ul li p img{width: 19px;height: 19px}
    .you_like_detail ul li img{width: 285px;height: 285px;}
    .bottom_price{margin: 10px 0 0 10px;color: #b2b2b2;font-size: 14px;}
    .bottom_price span:first-child{color: #fe4f00}
    .bottom_price span:first-child em{font-size: 24px}
    .bottom_price span:nth-child(2){text-decoration: line-through;}
    .bottom_price span:last-child{margin-top: 10px}
    .buttom_info{border-top: 1px solid #fe4f00;margin-top: 59px}
    .buttom_info ul{width: 8.6666%}
    .buttom_info li{float: left;margin: 35px 0 35px 0}
    .buttom_info li:first-child img{width: 90px;height: 90px;}
    .buttom_info li:first-child p{margin-top: 14px;font-size: 14px;color: #b2b2b2;}
    .buttom_info_r{margin: 35px 0 0 120px;}
    .buttom_info_r p{font-size: 14px;font-weight: 600;}
    .buttom_info_r li{clear: both;margin: 10px 0 0 0px;list-style-type: disc;list-style-position: outside;font-size: 12px;color: #595959;width: 70px}
    .copy_right p{font-size: 12px;color: #b2b2b2;text-align: center;margin-top: 4px}
/*购物车样式结束*/
    .display{display: none}

/*收货信息样式开始*/
    .receive_info{padding: 14px 0 14px 40px;}
    .receive_info p{color: #404040;font-size: 12px;}
    .receive_info_detail{border: 1px solid #e6e6e6}
    .receive_info_detail ul{padding: 23px 0 0 32px}
    .receive_info_detail ul li{float: left;color: #404040;font-size: 12px;margin-left: 32px}
    /*收货地址样式开始*/
    .addr_list .addr_radio{margin:0 5px 2px 2px;vertical-align:middle;}
    .addr_list .user_addr{width:354px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
    .addr_list .user_info{width:250px;}
    .addr_list .user_ope{width:150px;}
    /*收货地址样式结束*/
    .new_address{}
    .new_address a{display:inline-block;text-align:center;margin: 26px 0 16px 60px;width: 100px;height: 30px;line-height:30px;color: #fe4f00;font-size: 12px;background: #fff;border: 1px solid #fe4f00}
    .new_address_detail{margin: 0 0 17px 60px}
    .new_address_detail label{font-size: 12px;color: #595959;text-align: right;width: 49px}
    .new_address_detail input{height: 30px;width: 120px;padding-left: 7px;margin-left: 8px;border: 1px solid #e6e6e6;color: #595959}
    .new_address_detail select{height: 30px;min-width: 130px;padding-left: 4px;margin-left: 10px;border: 1px solid #e6e6e6;color: #595959}
    .new_address_detail textarea{height: 78px;width: 255px;margin-left:59px;padding: 10px 10px 10px 8px;border: 1px solid #e6e6e6;color: #595959}
    .new_address_detail .button1{height: 30px;width: 100px;margin: 0 0 0 59px;color: #fff;font-size: 12px;background: #fe4f00}
    .confirm_info{width: 1200px;}

    .confirm_info .new_address_detail:last-child{margin-bottom: 0px}
    .kuaidi select{height: 30px;min-width: 100px;padding-left: 4px;margin-left: 10px;border: 1px solid #e6e6e6;color: #595959}
    .kuaidi p{text-align: center;margin-top: 5px}
    .kuaidi p em{font-size: 12px;color: #fe4f00}
    .coupons{}
    .coupons ul li{margin-top: 28px;width: 1200px}
    .coupons select{margin-left:8px;width: 168px;border: 1px solid #e6e6e6;color: #595959;height: 30px}
    .coupons em{font-size: 18px;color: #fe4f00;margin-left: 40px}
    .coupons button{height: 50px;width: 150px;color: #fff;background: #fe4f00;font-size: 18px}
    .choose_pay{}
    /*开关按钮样式*/
    #div1{  width: 46px;  height: 26px;  border-radius: 26px;  position: relative;  }
    #div2{  width: 23px;  height: 21px;  border-radius: 23px;  position: absolute;  background: white;  box-shadow: 0px 2px 2px rgba(0,0,0,0.4);  }
    .open1{  background: rgba(0,184,0,0.8);  }
    .open2{  top: 2px;  right: 1px;  }
    .close1{  background: rgba(255,255,255,0.4);  border:1px solid rgba(0,0,0,0.15);  border-left: transparent;  }
    .close2{  left: 0px; border:1px solid rgba(0,0,0,0.1);}
   

/*收货信息样式结束*/

